In [1]:
pip install xgboost

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: xgboost in c:\users\hp\appdata\roaming\python\python312\site-packages (3.0.0)
Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (from xgboost) (1.26.4)
Requirement already satisfied: scipy in c:\programdata\anaconda3\lib\site-packages (from xgboost) (1.13.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd 
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score
import pickle

df = pd.read_csv('fitness_tracker_dataset.csv')

X = df.drop(['gender', 'duration', 'calories_burned', 'intensity', 'workout_type', 'calories_intake'], axis=1)
y = df['workout_type']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

model = XGBClassifier(
    n_estimators=100,
    max_depth=5, 
    subsample=1.0, 
    learning_rate=0.1
)

model.fit(X_train, y_train)
train_pred = model.predict(X_train)
test_pred = model.predict(X_test)

print(accuracy_score(y_train, train_pred))
print(accuracy_score(y_test, test_pred))

0.9045
0.839

In [4]:
# Save model using pickle
with open('xgb_fitness_model.pkl', 'wb') as f:
    pickle.dump(model, f)

In [87]:
X

,age,height,weight,bmi,goal_A,goal_B,goal_C,goal_D,goal_E,goal_F,goal_G,goal_H
0,39,175,99,32.326531,0,1,0,0,0,0,1,0
1,36,157,112,45.437949,0,1,0,0,0,0,1,1
2,25,180,66,20.370370,1,0,1,1,0,1,0,0
3,56,154,89,37.527408,0,0,0,0,0,0,1,0
4,53,194,59,15.676480,0,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,20,173,59,19.713322,0,0,0,0,1,1,0,1
9996,29,171,71,24.280975,1,0,1,1,0,1,0,0
9997,47,183,75,22.395413,0,0,0,1,0,0,1,1
9998,52,170,97,33.564014,0,1,0,0,0,0,0,0
9999,47,186,88,25.436467,0,1,1,1,0,0,0,0